
.carousel-item .d-block {
  display: block;
  margin: 0 auto;
}

.w-100 {
  width: 80% !important;
  height: 90vh;
}

.carousel-control-next {
  right: 50.9px;
}
.carousel-control-prev {
  left: 48.1px;
}
// .carousel-inner {
//   height: 100vh;
//   width: 70%;
//   position: relative;
// }

// #carouselExampleControls .carousel-item img {
  //   max-height: 610px;
  //   object-fit: cover;
  // }
  
  // .w-100 {
    //   max-height: 100vh;
    //   object-fit: cover;
//   object-position: center 70%;
// }