.banner-content {
  margin-top: -11%;
  margin-bottom: -7%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("contactus.jpg");
  background-size: cover;
  h1 {
    font-family: "Oswald";
    text-align: center;
    padding-top: 7%;
    font-size: 56px;
    font-weight: bold;
    color: $pink;
  }
  p {
    font-family: "Oswald";
    text-align: center;
    color: white;
    margin-top: -10px;
  }
}

.container-contact {
  justify-content: space-around;
  align-items: center;
}

.perguntas-frequentes {
  h1 {
    font-family: "Oswald";
    font-weight: bold;
    color: $pink;
  }
  h4 {
    color: $pink;
  }
}

.contact-form {
  h1 {
    font-family: "Oswald";
    font-weight: bold;
    color: $pink;
  }
}
