.historia-image-one {
  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}

.container-equipe {
  margin: 0 auto;
  width: 80%;
}

.historia-header-one {
  h4, h6 {
    color: $pink;
  }
}

.title-equipe {

}
