.perguntas-frequentes {
  justify-content: space-around;
  h1 {
    font-family: "Oswald";
    font-weight: bold;
    color: $pink;
  }
  h4 {
    color: $pink;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  // p {
  //   // font-family: "Open Sans";
  // }
}
