h1 {
  font-family: 'Roboto';
  color: #C50058;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

p{
  text-align: justify;
}

.hist-image img {
  padding: 0;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
 }

 .col-md-6{
  padding: 0.5%;
 }
 
 .col-md-12 {
  padding: 0;
 }
