// Specific CSS for your home-page

body {
  background-color: white;
}

h1 {
  color: $pink;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}


// BANNER ONE

 .header-one {
   height: 100vh;
   display: flex;
   justify-content: center;
  img {
    object-fit: contain;
  }
}

.image-one {
  img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center 45%;
  }
}

// BANNER TWO

.header-two {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-two {
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}

// BANNER THREE

.header-three {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pink;
}

.image-three {
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}

// BANNER FOUR

.header-four {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-four {
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}

// BANNER FIVE

.banner-five {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  background-color: $pink;
  h1 {
    color: white;
  }
}

.submit {
  display: flex;
  .btn {
    background-color: white;
    color: $pink;
    &:hover {
      background-color: lightgray;
      color: $pink;
    }
  }
}
