body {
  background-color: white;
}

.main-container {
  display: flex,
}

.banner-one {
  width: 50vh;
  display: flex;
  justify-content: space-around;
}

.image-one {
  position: absolute;
  left: 50%;
  img {
    width: 100vh;
    max-height: 90vh;
    object-fit: cover;
  }
}

.logo {
  width: 50vh;
  padding-top: 70%;
  padding-left: 40%;
}

.container-two {
  position: absolute;
  margin-top: 653px;
  margin-left: -50px;
}

.image-two img {
  width: 100vh;
  max-height: 90vh;
  object-fit: cover;
}

.container-three {
  position: absolute;
  margin-top: 1137px;
  margin-left: -15px;
  max-height: 484px;
}

.image-three img {
  display: flex;
  position: absolute;
  left: 100%;
  width: 100vh;
  max-height: 484px;
  object-fit: cover;
  }

.img-color {
  display: flex;
  position: absolute;
  margin-left: -537px;
  max-height: 484px;
}

.container-four {
  margin-top: 1621px;
  margin-left: -378px;
}

.image-four {
  position: absolute;
  left: 0%;
  margin-left: -20px;
  img {
    width: 100vh;
    max-height: 90vh;
    object-fit: cover;
  }
}

.container-five {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -15px;
  margin-top: 2105px;
  height: 326px;
  background-color: #C50058;
  color: white;
}

.submit {
  display: flex;
}
