.lettra-header-one {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  h4 {
    font-family: 'Oswald';
    color: black;
  }
}

.lettra-completa {
  margin: auto;
  width: 80%;
  padding: 10px;
}
