<div class="footer col-lg-12">
  <div class="footer-title">
    <h3>DESCUBRA-NOS AGORA</h3>
  </div>
  <div class="footer-element">
    <div class="footer-links">
      <a href="https://www.instagram.com/mulheresdosulglobal/" target=”_blank”><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/mulheresdosulglobal" target=”_blank”><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/mulheres-do-sul-global/" target=”_blank”><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="contactus-footer">
      <p> Contact us at hello@mulheresdosulglobal.com</p>
    </div>
    <div class="language-footer">
      <h5>PT / EN / ES</h5>
    </div>
  </div>
</div>
