<head>
  <script src= "http://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/uDaLtXL.png);">
  <div class="container">
    <!--<h1>Empoderando mulheres refugiadas através do ofício</h1>-->
  </div>
</div>
<div class=container>
  <div class="row justify-content-center col-12 col-lg-12">
  
    <h1><strong>Quem somos</strong></h1>
  </div>
  <div class='negocio-social row justify-content col-12 col-lg-12'>
    <h2>O negócio social</h2>
    <p>Mulheres do Sul Global é um negócio social de empoderamento econômico de mulheres refugiadas,
     inseridas em contextos de refúgio e vulnerabilidade social, baseado da promoção do empreendedorismo, 
     capacitação de habilidades, criação e venda de peças de costura comprometidos com os novos paradigmas 
     de se fazer e consumir sustentável.
    <p>Nossa missão é promover o empoderamento econômico de mulheres refugiadas através do ofício da costura,
    com o desenvolvimento de jornadas empreendedoras e redes de trabalho com valorização das identidades e 
    conexões entre culturas.</p>
    
    <%= link_to 'Saiba mais sobre nossa história', historia_path %>
  </div>
  
  <h2 style="margin-top: 5%";>Nosso time</h2>
  
  <div class="slider owl-carousel">
    <div class="card">
      <div class='img'><%= cl_image_tag("pnkq9j6kvnff5zl8fd2k") %>
      
      </div>
      <div class="content">
        <div class="title">Emanuela Pinheiro</div>
        <div class="subtitle"><p>Nossa fundadora</p></div>
      </div>
    </div>   
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/PgHZKKN.jpg"></div>
      <div class="content">
        <div class="title">Thays</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>   
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/s9KviVQ.jpg"></div>
      <div class="content">
        <div class="title">Ana Luiza</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>   
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/5sEgcEj.jpg"></div>
      <div class="content">
        <div class="title">Claudia Lima</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>   
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/61IOnyl.jpg"></div>
      <div class="content">
        <div class="title">Marlene Barros</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/nuc5mCN.jpg"></div>
      <div class="content">
        <div class="title">Firmiana Pinheiro</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/2zUUrXP.jpg"></div>
      <div class="content">
        <div class="title">Gabriela Santiago</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>
    <div class="card">
      <div class='img'><img src="https://i.imgur.com/9oQaCIP.jpg"></div>
      <div class="content">
        <div class="title">Luiz</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div> 
     <div class="card">
      <div class='img'><img src="https://i.imgur.com/1wQislQ.jpg"></div>
      <div class="content">
        <div class="title">Robson Rastrelli</div>
        <div class="subtitle"><p>Breve descrição</p></div>
      </div>
    </div>                     

  </div>
  <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>

 
  













</div>




