<div>
  <div class="banner">
    <div class="banner-content text-center">
      <h1 class="mb-5">CONTATO</h1>
      <p>NOSSO ESCRITÓRIO</p>
      <p>Ladeira da Glória 26 Nex Coworking - Bloco 3</p>
      <p>Rio de Janeiro, RJ, 22211-120 Brasil</p>
    </div>
  </div>

  <div class="container-contact col-12 d-flex text-center">
    <div class="perguntas-frequentes col-5">
      <h1 class="pb-3">Perguntas Frequentes</h1>
      <h4 class="mt-4">O MULHERES DO SUL GLOBAL É UMA ONG?</h4>
      <p align="justify">Não! Somos um negócio social, ou seja, temos como missão desenvolver
      e/ou transformar socialmente nossa realidade, gerando impacto positivo
      na vida das mulheres que empregamos. Buscamos incluir essas mulheres na
      cadeia produtiva de valor, fornecendo uma renda fixa mensal para que possam
      viver com dignidade e segurança. Buscamos um modelo de negócio auto-sustentável
      que possibilite a existência e expansão das nossas atividades.</p>
      <h4 class="mt-4">POR QUE O NOME “MULHERES DO SUL GLOBAL”?</h4>
      <p align="justify">A primeira parte é a mais simples de entender. Nosso foco são as mulheres,
        especificamente mulheres em situação de refúgio na cidade do Rio de Janeiro.
        Já o “Sul Global”, é o que define nosso ponto de partida pra pensar em mudança
        social. Este termo é muito utilizado em estudos de Relações Internacionais e
        se refere ao conjunto de países em desenvolvimento, em sua maioria localizados
         no hemisfério sul do globo terrestre.
      </p>
      <h4 class="mt-4">COMO POSSO AJUDAR?</h4>
      <p align="justify">A melhor maneira de nos ajudar é prestigiando o trabalho de nossas costureiras.
       A venda dos produtos é o que possibilita a manutenção das nossas operações.</p>
      <h4 class="mt-4">ONDE POSSO ENCONTRAR OS PRODUTOS?</h4>
      <p align="justify" class="mb-5">Nossos produtos podem ser adquiridos pessoalmente ou através de nossas redes
        sociais. Além do nosso showroom localizado na Ladeira da Glória 26, estamos
        frequentemente presentes em feiras e eventos que são previamente divulgados
        em nossa página.</p>
    </div>
  </div>

<!--       <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
      <script>
        window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
        formbutton("create", {
          styles: {fontFamily:'"Oswald", sans-serif', description: {background: "#c73858"}, button: {background: "#c73858"}, title: {background: "#c73858", letterSpacing: "0.05em", textTransform: "uppercase"}},
          title: "Fala com a gente!",
          description: "Vamos respondir em breve",
          action: "https://formspree.io/f/mdopejwy",
          fields: [
          {name: "name", type: "text", label: "Nome completo", required: true,},
          {name: "email", type: "email", label: "Seu email", required: true},
          {name: "Message", label: "Mensagem", type: "textarea"},
          {type: "submit"}
          ],
        });
      </script> -->
</div>



