<div>
  <div class="banner">
    <div class="banner-content text-center">
      <h1 class="mb-5">FAQ</h1>
    </div>
  </div>

  <div class="container-contact col-md-12 text-center">
    <div class="perguntas-frequentes col-md-12">
      <h1 class="pb-3">Perguntas Frequentes</h1>

      <div class="row no-gutters contato">
        <div class="col-xs-12 col-md-6">
          <div class="">
            <h4 class="mt-4">O MULHERES DO SUL GLOBAL É UMA ONG?</h4>
            <p align="justify">Não! Somos um negócio social, ou seja, temos como missão desenvolver
            e/ou transformar socialmente nossa realidade, gerando impacto positivo
            na vida das mulheres que empregamos. Buscamos incluir essas mulheres na
            cadeia produtiva de valor, fornecendo uma renda fixa mensal para que possam
            viver com dignidade e segurança. Buscamos um modelo de negócio auto-sustentável
            que possibilite a existência e expansão das nossas atividades.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <h4 class="mt-4">POR QUE O NOME “MULHERES DO SUL GLOBAL”?</h4>
            <p align="justify">A primeira parte é a mais simples de entender. Nosso foco são as mulheres,
              especificamente mulheres em situação de refúgio na cidade do Rio de Janeiro.
              Já o “Sul Global”, é o que define nosso ponto de partida pra pensar em mudança
              social. Este termo é muito utilizado em estudos de Relações Internacionais e
              se refere ao conjunto de países em desenvolvimento, em sua maioria localizados
               no hemisfério sul do globo terrestre.
            </p>
        </div>
      </div>

      <div class="row no-gutters contato">
        <div class="col-xs-12 col-md-6">
          <div class="">
            <h4 class="mt-4">ONDE POSSO ENCONTRAR OS PRODUTOS?</h4>
            <p align="justify">A melhor maneira de nos ajudar é prestigiando o trabalho de nossas costureiras.
             A venda dos produtos é o que possibilita a manutenção das nossas operações.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <h4 class="mt-4">COMO POSSO AJUDAR?</h4>
            <p align="justify">A melhor maneira de nos ajudar é prestigiando o trabalho de nossas costureiras.
             A venda dos produtos é o que possibilita a manutenção das nossas operações.</p>
            </p>
        </div>
      </div>

      <div class="row no-gutters contato">
        <div class="col-xs-12 col-md-6">
          <div class="">
            <h4 class="mt-4">ESTE PROJETO BUSCA SOLUCIONAR QUAL PROBLEMA?</h4>
            <p align="justify">Ser um negócio social de empoderamento econômico de mulheres com talento em costura,
              inseridas em contextos de refúgio e vulnerabilidade social, por meio da promoção do empreendedorismo,
              capacitação de habilidades, criação e venda de peças de costura comprometidos com os novos paradigmas
              de se fazer e consumir sustentável. </p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <h4 class="mt-4">QUAL A SOLUÇAO PROPOSTA?</h4>
            <p align="justify">Promover capacitação, máquinas de costura para trabalhar de casa e desenvolvimento de
            uma rede de trabalho de criação, produção, venda e prospeção de encomendas, com geração de renda para quem
            produz e para a sustentação do projeto enquanto negócio social. Ao fortalecer jornadas empreendedoras
            colaborativas e ao mesmo tempo autônomas, promovemos um desenho de trabalho voltado para as novas economias,
            mostrando outros caminhos além do mercado tradicional. </p>
            </p>
        </div>
      </div>

    </div>
  </div>
</div>
