<h2 style='text-align: center; margin-top: 60px; font-size: 80px'>COMO NOS AJUDAR?</h2>
<p style="text-align: center; font-size: 18px; margin-bottom: 80px;"><i>Você pode ajudar com algumas coisas</i></p>
<div class="row helpusbutton" style='margin-top: 50px; margin-bottom: 50px;'>
  <div class="col-xs-12 col-md-3">
    <p class="btn btn-info helpusbtn trabalhar" style="padding-top: 2.5vh;"><b>TRABALHAR COM A GENTE</b></p>
  </div>

  <div class="col-xs-12 col-md-1 or-text">
    <p><b>or</b></p>
  </div>

  <div class="col-xs-12 col-md-3 doacao">
    <p class="btn btn-info helpusbtn" style="padding-top: 2.5vh;"><b>FAZER UMA DOAÇÃO</b></p>
  </div>
</div>

<p style='text-align: center; font-size: 18px;'>Para alguma outra coisa</p>
<p style='text-align: center; font-size: 18px; margin-bottom: 100px;'><i>contato@mulheresdosulglobal.com</i></p>
