<head>

</head>
<body>
<div class='container'>
  <span class='title'><h1>Nossa história</h1></span>
  <div class='process-wrapper'>
    <div id="progress-bar-container">
      <ul>
        <li class='step step01 active'>
          <div class='step-inner'>Como começamos</div>
        </li>
        <li class='step step02'>
          <div class='step-inner'>A Índia e o ateliê Sarnath Design</div>
        </li>
        <li class='step step03'>
          <div class='step-inner'>De volta ao Rio de Janeiro</div>
        </li>
        <li class='step step04'>
          <div class='step-inner'>Nasce Mulheres do Sul Global</div>
        </li>        
      </ul>
      <div id="line">
        <div id='line-process'></div>
      </div>
    </div>

    <div id='progress-content-section'>
      <div class='section-content start active'>
        <h2>TESTE</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi molestiae deserunt beatae incidunt quis quas, dignissimos ad neque fugit. Perspiciatis nulla in suscipit et earum molestias? Ipsum magni culpa porro.
        </p>
      </div>
      <div class='section-content india'>
        <h2>TESTE 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi molestiae deserunt beatae incidunt quis quas, dignissimos ad neque fugit. Perspiciatis nulla in suscipit et earum molestias? Ipsum magni culpa porro.
        </p>
      </div> 
      <div class='section-content rio'>
        <h2>TESTE 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi molestiae deserunt beatae incidunt quis quas, dignissimos ad neque fugit. Perspiciatis nulla in suscipit et earum molestias? Ipsum magni culpa porro.
        </p>
      </div>
      <div class='section-content final'>
        <h2>TESTE 4</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi molestiae deserunt beatae incidunt quis quas, dignissimos ad neque fugit. Perspiciatis nulla in suscipit et earum molestias? Ipsum magni culpa porro.
        </p>
      </div>              




    </div>

  </div>


</body>
  <%# <h2 style='text-align: left';>
  Como começamos
  </h2>

  <div class='flex-container justify-content-center col-lg-12'>
    <div class="flex-item image-historia ">
      <img src="https://i.imgur.com/JjLhp8X.jpg"/>
  </div>
    <div class="flex-item ">   
      <p style='margin-left: 10px'>
            A semente do Mulheres do Sul Global surge em uma viagem de voluntariado à Índia em 2015/2016. Para Emanuela,
      nossa fundadora, a motivação para a viagem era um projeto pessoal antigo, com o propósito de realizar uma peregrinação 
      pelos lugares sagrados do budismo. Foi como voluntária, coordenando projetos nas fundações <i>The Light of Budhadharma
      Foundation</i> e <i>Sarnath International Institute</i>, ambas no norte da Índia, que Emanuela percorreu diversas cidades, viajando
      por terra, e vivenciando a rotina dos vilarejos mais pobres e violentos do país. </p> 
      <p> O retrato da Índia como um centro de
      espiritualidade vai se transformando em um cenário avassalador, com uma indústria a céu aberto, mulheres costurando na
      beira das estradas, deixando seus filhos ainda bebês, pelados, engatinhando livremente onde carros passavam em alta
      velocidade e os faziam desaparecer em meio a poeira. Foram muitas as experiências diretas com a precariedade do <i> modus
      operandi</i> têxtil e a vulnerabilidade destas mulheres perante ao único ofício que sabem desempenhar. </p>
    </div>
  </div>
  
  
  <p>"Lembro que já no primeiro mês da minha chegada, senti uma firme determinação em desenvolver um trabalho que envolvesse
  mulheres e costura. Mas era um imenso desafio, uma vez que eu não sabia muito bem por onde começar já que em toda a minha
  experiência profissional eu tive zero experiência com o mercado têxtil", relembra Emanuela. </p>

  <p>
  </p>
  <h2 style='text-align: left'>A Índia e o ateliê Sarnath Design </h2>
  <p>     Na segunda metade da jornada, como residente no monastério <i>Sarnath Internacional Institute</i>, Emanuela ganhou a missão de
  coordenar as atividades administrativas do ateliê de costura <i>Sarnath Design</i>. Foi a partir da observação direta do 
  funcionamento de um ateliê que se foi elaborando uma ideia de projeto que pudesse <strong>empoderar mulheres através do seu 
  ofício</strong> e como, através da costura, se poderia trabalhar tantas outras questões fundamentais sobre a condição da mulher 
  num país como a Índia. <p>

  <p>
  </p>
  <h2 style='text-align: left'>De volta ao Rio de Janeiro: o (RE) encontro com mulheres, refúgio e costura </h2>
  <p>Na volta para casa, depois da profunda imersão em terras estrangeiras, o plano era de estruturar minimamente 
  meios para poder voltar à Índia e amadurecer um projeto por lá. No embalo de um novo engajamento com voluntariado, 
  motivada por um  curso numa escola livre de cinema documentário, surgiu a <strong> Cáritas RJ </strong>, organização que 
  faz a acolhida dos refugiados. Foi  lá que se desenhou um caminho por onde começar. </p>
  <p>Durante o desenvolvimento de um projeto audiovisual assinado por quatro diretoras amigas, Emanuela conheceu mulheres em 
  situação de refúgio vindas de diversos países. Ao ligar a câmera para filmar as entrevistas, chamava a atenção o fato de
  mulheres vindas do Congo e da Angola pedirem máquinas de costura para poderem trabalhar. 
  Ao investigar os pedidos recorrentes, descobriu-se que, em algumas regiões do Congo, as mulheres aprendem o ofício da 
  costura ainda jovens em suas escolas e que, mesmo com a costura em seu currículo profissional, a dificuldade de encontrar
  trabalhos em fábricas aqui no Brasil era imensa. Essa descoberta foi a oportunidade de realizar o propósito de trabalhar 
  com mulheres e costura.</p>
  
  <p>
  </p>
  <h2 style='text-align: left'>Quando o propósito e oportunidade se unem: nasce o Mulheres do Sul Global</h2>
  <p>O passo seguinte ao terminar o projeto audiovisual foi fazer a inscrição de um projeto sobre mulheres e costura no
  programa Shell Iniciativa Jovem, uma incubadora de projetos que acelera uma ideia até sua lapidação em um plano de
  negócios. Depois de uma sabatina de pitchs e dinâmicas onde o projeto foi aprovado no programa,  Emanuela volta à 
  instituição Cáritas RJ para uma aproximação com o grupo das congolesas costureiras. 
  Isso acontece justo no momento em que a Cáritas estava rodando o piloto do programa CORES - Coletivo de Refugiados
  Empreendedores -, em que dois grupos profissionais estavam sendo incubados no programa de empreendedorismo: um grupo 
  da  gastronomia e outro da costura. Foi então que a partir das vivências e dos desafios reais do grupo de angolanas e 
  congolesas costureiras do programa CORES, em paralelo com o desenvolvimento de uma jornada empreendedora no programa 
  Shell Iniciativa Jovem, aconteceu a transição de uma ideia a um negócio social, batizado desde sua origem como Mulheres 
  do Sul Global.
  </p>
</div> %>