<div>
  <div class="banner">
    <div class="banner-content text-center">
      <h1 class="mb-5">The integration of everyone is important</h1>
      <p>Mulheres do Sul Global</p>
    </div>
  </div>

    <div>
      <h1 style="margin-bottom: 60px;">Letter from the founder</h1>
    </div>
    <div class="row no-gutters lettra-completa" style='margin-top: 30px; margin-bottom: 30px;'>
      <div class="col-xs-10 col-md-4 image-primeira">
        <div class="lettra-image-one">
          <%= image_tag("https://i.imgur.com/JjLhp8X.jpg")%>
        </div>
      </div>

      <div class="col-xs-10 col-md-6">
        <p style="text-align: justify; margin-top: 10px;">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Aenean neque velit, bibendum quis elementum vitae,
          laoreet non lorem. Duis tellus felis, aliquam vitae leo eget, pulvinar varius
          diam. Cras eu sodales magna. Donec eu ligula sapien. Nulla id erat nisl.
          Curabitur bibendum dictum urna, quis vehicula risus ullamcorper nec. Nullam erat
          odio, bibendum eu interdum non, congue lacinia lorem. Morbi tincidunt sollicitudin
          bibendum. Nulla eu volutpat quam. Nunc ut interdum mauris. Maecenas vitae erat magna.
          Donec eu faucibus augue, a auctor risus. Donec vitae dictum mauris, ut consequat erat.
          Cras ultricies ullamcorper nisl, sed bibendum nisl semper nec. Sed cursus dui odio, eu
          blandit lorem cursus eget. Donec molestie sodales leo ut vestibulum.
        </p>
      </div>
      <br><br><br>
      <div class='col-sm-12 col-md-12'>
        <p style='text-align: justify; margin-top: 20px;' class="lettra-segunda">
        Nulla ut orci ut nulla laoreet vehicula in in massa. Maecenas semper eros porttitor, suscipit odio eu, posuere nulla.
        Cras fermentum placerat odio, a rhoncus lorem aliquet id. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Quisque a ligula hendrerit felis maximus viverra. Fusce mollis nisl in enim venenatis, quis egestas
        nisi sagittis. Fusce convallis nec lacus eu ultrices.

        Quisque orci arcu, venenatis id iaculis vitae, imperdiet sit amet diam.
        Curabitur porttitor semper dapibus. Proin fermentum est at justo fermentum, sit amet
        euismod arcu accumsan. Praesent interdum urna eu mauris consequat dapibus. Donec dui
        risus, pellentesque eget laoreet vel, posuere ut quam. Curabitur ac ex a leo tristique
        molestie. Nam interdum sit amet erat imperdiet finibus. In eget hendrerit velit, in
        rhoncus dolor. In bibendum vitae libero non tincidunt. Proin porta imperdiet vestibulum.
        Vivamus semper dignissim dolor. Maecenas dui sapien, tincidunt a mauris ac, congue
        imperdiet sapien. Ut efficitur nibh vel condimentum cursus.
      </div>
    </div>
  </div>
