.footer {
  background-color: white;
  color: $gray;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-title {
  text-align: center;
}

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links {
  .fab {
    color: $gray;
  }
}

.contactus-footer {
  font-style: italic;
  text-align: center;
}
