.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 80px;
}

.navbar .nav-item .nav-link {
  color: #242424;
  font-size: 14px;
  &:hover {
    color: $pink;
    font-weight: bolder;
  }
}

.navbar .nav-item {
  .donate {
    font-size: 14px;
    color: $pink;
    &:hover {
      color: $pink;
    }
  }
  .login {
    font-size: 14px;
    &:hover {
      color: $pink;
      background-color: white;
      border-color: $pink;
    }
  }
  .signup {
    font-size: 14px;
    &:hover {
      color: white;
      background-color: $pink;
      border-color: $pink;
    }
  }
  .cart {
    color: $pink;
  }
}

.navbar .dropdown .nav-link {
  &:hover {
    color: $pink !important;
    font-weight: normal;
  }
}
