.navbar {
  background: white;
}

.navbar .nav-item {
  font-size: 14px;
  .donate {
    color: $pink !important;
    &:hover {
      color: $pink;
      font-weight: bolder !important;
    }
  }
  .login {
    font-size: 14px;
    &:hover {
      color: $pink;
      background-color: white;
      border-color: $pink;
    }
  }
  .signup {
    font-size: 14px;
    &:hover {
      color: white;
      background-color: $pink;
      border-color: $pink;
    }
  }
  .logout {
    font-size: 14px;
    &:hover {
      color: $pink;
      background-color: white;
    }
  }
  .cart {
    font-size: 17px;
    color: $pink;
  }
  .avatar {
    font-size: 20px;
    color: $pink;
  }
}

.navbar .nav-item .nav-link {
  color: #242424;
  &:hover {
    color: $pink;
    font-weight: lighter;
  }
}
