.navbar {
  background: white;
  display: flex;
}

.navbar .navbar-icon img {
  max-width: 170px;
  max-height: 170px;
}

.navbar .nav-item {
  font-size: 13px;
  display: flex;
  .donate {
    color: $pink !important;
    font-weight: bolder !important;
  }
  .login {
    font-size: 13px;
    &:hover {
      color: $pink;
      background-color: white;
      border-color: $pink;
      font-weight: 400 !important;
    }
  }
  .signup {
    font-size: 13px;
    &:hover {
      color: white;
      background-color: $pink;
      border-color: $pink;
      font-weight: 400 !important;
    }
  }
  .logout {
    font-size: 13px;
    &:hover {
      color: $pink;
      background-color: white;
      font-weight: 400 !important;
    }
  }
  .cart {
    font-size: 17px;
    color: $pink;
  }
  .avatar {
    font-size: 20px;
    color: $pink;
  }
}

.navbar .nav-item .nav-link {
  color: #242424;
  &:hover {
    color: $pink;
    font-weight: lighter;
  }
}
