<div class="card-deck">
  <% @products.each do |product| %>
    <div class="row card-img-top col-md-3 justify-content-center" >
      <img class=""><%= cl_image_tag product.photo.key, height: 280, width: 280, crop: :fill, alt: product.name %>
      <div>
        <p><%= "#{product.name}" %></p>

        <% if product.is_product_in_cart?(current_user) %>
          <%= link_to "Remover do carrinho", product_cart_path(product.cart_product(current_user)), method: :delete, class: "btn btn-primary btn-sm" %>
        <% else %>
          <%= link_to "Adicionar ao carrinho", product_carts_path(product_id: product.id), method: :post, class: "btn btn-info btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
